.bg-default {
    background-color: #2e3593;
}

.bg-primary {
  background-color: #2e3593 !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #2e3593 !important; }

.bg-gradient-primary {
    background: linear-gradient(87deg, #fb745d 100%, #2e3593 100%) !important; }

    .btn-primary {
        color: #fff;
        background-color: #2e3593;
        border-color: #2e3593;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
        .btn-primary:hover {
          color: #fff;
          background-color: #2e3593;
          border-color: #2e3593; }
        .btn-primary:focus, .btn-primary.focus {
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(94, 114, 228, 0.5); }
        .btn-primary.disabled, .btn-primary:disabled {
          color: #fff;
          background-color: #2e3593;
          border-color: #2e3593; }
        .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
        .show > .btn-primary.dropdown-toggle {
          color: #fff;
          background-color: #324cdd;
          border-color: #2e3593; }
          .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
          .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: none, 0 0 0 0 rgba(94, 114, 228, 0.5); }

/* Configuración global */
html, body {
  height: 100%; /* Asegura que el html y body ocupen toda la altura */
  margin: 0; /* Elimina márgenes predeterminados */
  display: flex;
  flex-direction: column; /* Configura flexbox en el body */
}

/* Contenedor principal */
.container-fluid {
  flex: 1; /* Expande dinámicamente el contenedor para llenar el espacio */
  display: flex;
  flex-direction: column;
}

.navbar .form-inline {
  margin-right: auto; /* Mueve el formulario a la izquierda */
}

.navbar .ml-auto {
  margin-left: auto; /* Mueve el perfil a la derecha */
}

.navbar-collapse {
  display: flex !important; /* Asegura el comportamiento de flexbox */
  justify-content: space-between; /* Separa los elementos */
}
