<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/la-hora-dulce-titulo.png" class="navbar-brand-img" alt="La hora dulce">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'scrape_status' %}">
                <i class="ni ni-cloud-download-95 text-primary"></i>
              <span class="nav-link-text">Cargar recetas</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'filter_by_category' %}">
                <i class="fas fa-utensils text-primary"></i>
              <span class="nav-link-text">Categorías</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'filter_by_ingredients' %}">
                <i class="ni ni-basket text-primary"></i>
              <span class="nav-link-text">Ingredientes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'filter_by_time_and_difficulty' %}">
                <i class="ni ni-watch-time text-primary"></i>
              <span class="nav-link-text">Tiempo y dificultad</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'scrape_status' %}">
                <i class="ni ni-favourite-28 text-primary"></i>
              <span class="nav-link-text">Mis favoritos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'scrape_status' %}">
                <i class="ni ni-like-2 text-primary"></i>
              <span class="nav-link-text">Recomendaciones</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
      </div>
    </div>
  </div>
</nav>