{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/custom.css" type="text/css">
<style>
  .recipe-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .recipe-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  .recipe-image {
    display: block;
    margin: 0 auto 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60%;
  }
  .recipe-info {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-top: 10px;
  }
  .recipe-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .recipe-section h3 {
    color: #444;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  .recipe-section p {
    margin: 5px 0;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container mt-4">
  <!-- Contenedor de título e imagen -->
  <div class="recipe-container">
    <h1 class="recipe-title">{{ title }}</h1>
    {% if image_url == "N/A" %}
      <img src="/static/assets/img/theme/imagen_no_encontrada.jpg" alt="Imagen por defecto" class="recipe-image">
    {% else %}
      <img src="{{ image_url }}" alt="Imagen de {{ title }}" class="recipe-image">
    {% endif %}
    <div class="recipe-info">
      <p><strong>Autor:</strong> {{ author }} | <strong>Categoría:</strong> {{ category }} | 
      <strong>Programa:</strong> {{ program }} | <strong>Tiempo:</strong> {{ time }} | 
      <strong>Dificultad:</strong> {{ difficulty }} | <strong>Porciones:</strong> {{ servings }}</p>
    </div>
  </div>

  <!-- Contenedor de ingredientes -->
  <div class="recipe-section">
    <h3>Ingredientes</h3>
    <p>{{ ingredients|linebreaks }}</p>
  </div>

  <!-- Contenedor de instrucciones -->
  <div class="recipe-section">
    <h3>Instrucciones</h3>
    <p>{{ steps|linebreaks }}</p>
  </div>

  <!-- Contenedor de etiquetas -->
  <div class="recipe-section">
    <h3>Etiquetas</h3>
    <p>{{ tags }}</p>
  </div>

  {% include "includes/footer.html" %}
</div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/custom.js"></script>
{% endblock javascripts %}
