{% extends "layouts/base.html" %}

{% block title %}Recomendaciones{% endblock %}

{% block content %}
<!-- Header -->
<div class="header bg-primary pb-4">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-3">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Recomendaciones</h6>
          <nav aria-label="breadcrumb" class="d-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="/"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'recommendations' recipe_id %}">Redomendaciones</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container mt-4">
  {% if recommendations %}
    <ul class="list-group">
      {% for recipe in recommendations %}
      <a href="{% url 'recipe_detail' recipe.id %}" class="text-decoration-none">
        <li class="list-group-item d-flex align-items-center">
          {% if recipe.image_url == "N/A" %}
            <img 
              src="/static/assets/img/theme/imagen_no_encontrada.jpg" 
              alt="Imagen por defecto" 
              class="img-fluid me-3"
              style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;"
            >
          {% else %}
            <img 
              src="{{ recipe.image_url }}" 
              alt="Imagen de {{ recipe.title }}" 
              class="img-fluid me-3"
              style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;"
            >
          {% endif %}
          <div>
            <h2>{{ recipe.title }}</h2>
            <p>
              <strong>Categoría:</strong> {{ recipe.category }}
              <strong> Tiempo:</strong> {{ recipe.time }}
              <strong> Dificultad:</strong> {{ recipe.difficulty }}
            </p>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
    {% include "includes/footer.html" %}
  {% else %}
    <p>No se encontraron recetas similares.</p>
  {% endif %}
</div>
{% endblock %}
